@use "src/styles/abstracts/variables" as v;
@use "src/styles/abstracts/typo-mixins" as t;

.Input {
	display: flex;
	flex-direction: column;
	gap: 5px;
	> label {
		@include t.body-2;
		cursor: pointer;
	}
	> input {
		padding: 10px;
		border-radius: 5px;
		outline: none;
		border: 1px solid v.$neutral-100;
		@include t.body-2;
		&:focus {
			border-color: v.$primary-100;
		}
		&.Input--Error {
			border-color: v.$danger-100;
		}
		&:disabled {
			border-color: v.$neutral-100;
			background-color: v.$neutral-20;
		}
	}
}
