// * Colors
// Primary
$primary-100: #1e3acb;
$primary-80: #3750d2;
$primary-60: #5067da;
$primary-40: #6a7de1;
$primary-20: #7688e5;

// Neutral
$neutral-100: #848484;
$neutral-80: #9d9d9d;
$neutral-60: #b5b5b5;
$neutral-40: #cecece;
$neutral-20: #dadada;

// Danger
$danger-100: #f34e4e;
$danger-80: #f57171;
$danger-60: #f89595;
$danger-40: #fab8b8;
$danger-20: #fbcaca;

// Success
$success-100: #2fa950;
$success-80: #59ba73;
$success-60: #82cb96;
$success-40: #acddb9;
$success-20: #c1e5cb;

// Warning
$warning-100: #f3a62f;
$warning-80: #f5b859;
$warning-60: #f8ca82;
$warning-40: #fadbac;
$warning-20: #fbe4c1;

// Responsive Design
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
