@use "src/styles/abstracts/variables" as v;

.Switch {
	position: relative;
	width: 50px;
	height: 20px;
	border-radius: 99px;
	background-color: v.$neutral-20;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	&.Switch--Active {
		background-color: v.$primary-100;
		.Switch__Toggler {
			left: calc(100% - 20px);
		}
	}
}

.Switch__Toggler {
	transition: left 0.3s ease-in-out;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba($color: #0e2668, $alpha: 0.1);
}
